* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: yellow;
    border-style: solid;
    border
}

nav {
    background-color: green;
    border-style: solid;
}

.toDoEntry {
    display: block;
    border-style: solid;
}

.toDoList {
    display: none;
}

.motivationQuote {
    border-style: solid;
}

form {
    border-style: solid;
}