* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.toDoEntry {
    display: block;
}

.toDoList {
    display: none;
}

nav {}

#taskSubmitDiv {
    display: grid;
}